<div class="container">
	<h1>Send your queries</h1>
	<hr>

	<%= form_for @contact do |f| %>

		<% if @contact.errors.any?  %>
			<ul>
				<% @contact.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>		

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :body %>
			<%= f.text_area :body, class: "form-control" %>
		</div>

		<%= f.submit "Send", class: "btn btn-primary" %>


	<% end %>
</div>

